.profile__job {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 800px){
  .profile__job {
    margin-top: 10px;
    text-align: center;
    }
}
@media screen and (max-width: 540px){
  .profile__job {
    max-width: 220px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
}