.element__like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  border: #fff;
  color: #000;
  background: url(../../../images/element-like.svg) no-repeat center;
  background-size: 100%;
  transition: opacity .2s linear;
  cursor: pointer;
}
.element__like:hover {
  opacity: 0.6;
}